* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}


:root {
    --bg-color: #080808;
    --second-bg-color: #101010;
    --text-color: white;
    --main-color: #51a8eb;
}


html {
    font-size: 60%;
    overflow-x: hidden;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}


.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


#menu-icon {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}


span {
    background: linear-gradient(270deg, #51a8eb 10%, #083b65 100%);
    background-clip: text;
    color: transparent;
}


.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}


.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}


.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(270deg, #51a8eb 10%, #083b65 100%);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
}


.gradient-btn:hover {
    transform: scale(1.05);
}


section {
    min-height: 100vh;
    padding: 10rem 15%;
}


.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}


.home-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}


.home-content h3 {
    margin: 1rem 0;
    font-size: 4rem;
}


.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}

.home-img img {
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}


.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}


.social-icons {
    display: flex;
    justify-content: center;
    margin: 3rem 0; /* Adjust margin as needed */
}


.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 0 0.5rem; /* Adjust margin as needed */
    transition: 0.3s ease-in-out;
}


.social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}


.btn-group {
    display: flex;
    justify-content: center; 
    gap: 1.5rem;
    margin-top: 2rem; 
}


.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 3rem;
    font-size: 1.8rem;
    color: black;
    border: 2px solid transparent;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}


.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color);
}


.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}


.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}


.word{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}


.word-img img{
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.4s ease-in-out;
}


.word-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}


.word-content h2{
    font-size: 7rem;
    text-align: left;
}


.word-content p{
    font-size: 1.8rem;
}


.word-content .btn{
    margin: 3rem 0;
}


::-webkit-scrollbar{
    width: 20px;
}


::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}


::-webkit-scrollbar-track{
    background-color: var(--bg-color);
}


.wish{
    background: var(--bg-color);
    color: black;
}


.wish h2{
    margin-bottom: 5rem;
    color: white;
}


.wish-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}


.wish-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-color);
    height: 300px;
    width: 100%;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


.wish-box:hover{
    background: black;
    color: var(--main-color);
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}


.wish-box .wish-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 200px;
    justify-content: center;
    align-items: baseline;
    padding: 5rem 5rem;
}


.wish-info p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}


.filter-buttons{
    margin: 2rem;
    text-align: center;
}



.gallery-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax (50px, 1fr));
    gap: 2rem;
}


.port-box{
    border-radius: 15px;
    overflow: hidden;
    background: var(--bg-color);
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}


.port-box:hover{
    transform: scale(1.05);
}


.port-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
    width: 100%; 
}

.port-image img {
    width: 100%; 
    height: auto; 
    transition: 0.5s;
    object-fit: cover; 

